body{
  margin:0;
  padding:0;
  background:black;
  font-family:Arial, sans-serif;
}

/* Navbar */
.navbar{
  background:#00b3b3;
  text-align:center;
  padding:10px;
}

.navbar a{
  color:#003333;
  font-weight:bold;
  text-decoration:none;
  margin:0 10px;
}

.active{
  text-decoration:underline;
}

/* About Content */
.about-content{
  width:75%;
  margin:30px auto;
  background:white;
  padding:25px;
}

.about-content h2{
  margin-bottom:10px;
}

.about-content p{
  font-size:14px;
  line-height:1.6;
}

@media (max-width: 768px) {
  .about{
    flex-direction: column;   
    padding: 20px;
    text-align: center;
  }

  .about-img img{
    width: 100%;     
    max-width: 300px;
    margin: auto;
  }

  .about-text{
    width: 100%;
  }

}

